<!-- I have used here simple text area. For 'real' projects I would probably use ngFor in order to validate input   -->

<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit your details</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body d-block ">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" [(ngModel)]="user.firstName" class="form-control" id="firstName" placeholder="Your first name">
  </div>
  <div class="form-group">
    <label for="surname">Email address</label>
    <input type="text" [(ngModel)]="user.surname" class="form-control" id="surname" placeholder="Your surname">
  </div>

  <button (click)="passBack()" type="submit" class="btn btn-primary">OK</button>
</div>
